@import '../../styles/styles.scss';

//Base component to be built off from
.btn {
  font-family: $title-font;
  font-size: $nav-fontsize;
  border-radius: 20px;
  border: 2px solid;
  transition: transform 0.3s ease;
  cursor: pointer;

  //Button hover movement animation

  &:hover {
    transform: translateY(-1px);
    opacity: 80%;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }

  /*Similar to the Button components referenced here: https://www.figma.com/file/xOu73pWJgkrezff9FKrD5E/Small-Projects?node-id=412%3A485.
However, secondary here references an alternate (more or less inversed) colour scheme; "outline" is used to represent transparent buttons instead*/

  &--primary {
    border-color: $B10;
    &--solid {
      background-color: $B10;
      color: $C00;
    }
    &--outline {
      background-color: $transparent;
      color: $B10;
    }
  }

  &--secondary {
    border-color: $C00;
    &--solid {
      background-color: $C00;
      color: $B10;
    }
    &--outline {
      background-color: $transparent;
      color: $C00;
    }
  }

  &--warning {
    border-color: $Y10;
    &--solid {
      background-color: $Y10;
      color: $C00;
    }
    &--outline {
      background-color: $transparent;
      color: $Y10;
    }
  }

  &--danger {
    border-color: $R30;
    &--solid {
      background-color: $R30;
      color: $C00;
    }
    &--outline {
      background-color: $transparent;
      color: $R30;
    }
  }

  &--success {
    border-color: $G10;
    &--solid {
      background-color: $G10;
      color: $C00;
    }
    &--outline {
      background-color: $transparent;
      color: $G10;
    }
  }
}
