$title-font: 'Poppins', sans-serif;
$nav-fontsize: 14px;
$nav-height: 66px;
$nav-animation-speed: 0.5s;

//Primary Variants
$transparent: rgba(0,0,0,0);
$C00: #FFFFFF;
$C10: #FAFAFA;
$C20: #EAEAEA;
$C30: #CECECE;
$C40: #9F9F9F;
$C50: #707070;
$C60: #333333;
$C70: #000000;
$B10: #0573E8;
$B20: #135FC5;
$B30: #003884;
$B40: #1F3C5F;
$S10: #E0F0FF;
$S20: #BDDEFF;
$S30: #99CEFF;
$S40: #7EB9F0;

//Secondary Colours
$R30: #EF5D5D;
$P10: #FFC6C6;
$P20: #FAB5B5;
$P30: #F0A4A4;
$P50: #BA7070;
$O10: #FFBD6F;
$O20: #FFAC4B;
$O30: #FB980C;
$O50: #BD7433;
$Y10: #FCD858;
$Y20: #F8CB2C;
$Y30: #E9BA16;
$Y50: #AB8E28;
$G10: #A6D669;
$G20: #93C94F;
$G30: #81B241;
$G50: #689332;
$V10: #BDAEF8;
$V20: #AF8DF2;
$V30: #9E8BE8;
$V50: #796DC3;

//sKiN tOnEs
$K10: #F8E7CD;
$K11: #F8DCCD;
$K20: #E6BF99;
$K21: #C69378;
$K30: #BD8A5A;
$K31: #BD7B5A;
$K40: #8A5935;
$K41: #914423;
$K50: #573515;
$K51: #683124;
