@import "./_variables";
@import "./_mixins";
@import "./_base";

.c-player {
    display: block;
    margin: 0px auto;
    padding: 0px;
    border-radius: 16px;
}

.c-player--controls {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 30px;
}

.c-player--controls .play-btn {
    display: flex;
    margin: 0 30px;
    padding: 20px;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: $secondary;
    color: #FFF;
    font-size: 24px;
    cursor: pointer;
}

.c-player--controls .skip-btn {
    display: flex;
    margin: 0 30px;
    padding: 20px;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: $secondary;
    color: $highlight;
    cursor: pointer;
}