@import '../../styles/styles.scss';
html,
body {
  background-color: white;
  color: $C00;
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent; //Ensures no scroll bar across browsers
}

.background{
  background: url("../../assets/Background.png");
  z-index: 1;
  width: auto;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.middleground1{
  position: absolute;
  z-index: 2;
  left: 0px;
  top: 0;
  width: auto;
  height: 100vh;
  background-position: center;
  background-repeat: repeat-x;
  background-size: cover;
}
.middleground2{
  position: absolute;
  z-index: 3;
  left: 90vw;
  top: 0;
  min-width: auto;
  height: 100vh;
  background-position: center;
  background-repeat: repeat-x;
  background-size: cover;
}

