@import '../../styles/styles.scss';
html,
body {
  background-color: white;
  color: $C00;
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent; //Ensures no scroll bar across browsers
}

html {
  height: 100%;
  /* max-height: 600px; */
  width: 1000px;
  background-color: #244b7e;
  background-image:
    url('../../assets/cornerTL.png'),
    url('../../assets/cornerTR.png'),
    url('../../assets/cornerBR.png'),
    url('../../assets/cornerBL.png'),
    url('../../assets/Middleground.png'),
    url('../../assets/Background.png');
  background-repeat: no-repeat,no-repeat,no-repeat,no-repeat,repeat-x, repeat-x;
  background-position: left top,right top,right bottom,left bottom,center, center;
  background-size: 100px,100px,100px,100px,cover, cover;
  height: 100vh;
  left:0;
  animation: 50s parallax infinite linear;
}

@keyframes parallax {
  100% {
    background-position: left top,right top,right bottom,left bottom,1000px 50%, 2500px 50%;
  }
}
