@import '../../styles/styles.scss';
html,
body {
  background-color: white;
  color: $C00;
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent; //Ensures no scroll bar across browsers
}
@keyframes parallax {
  0% {
    background-position: 0vw 50%, 0vw 50%;
  }
  50% {
    background-position: 9000vw 50%, 3000vw 50%;
  }
  100% {
    background-position: 0vw 50%, 0vw 50%;
  }
}
.background {
  height: 100%;
  /* max-height: 600px; */
  width: 100vw;
  background-color: #244b7e;
  background-image:
    url('../../assets/Middleground.png'),
    url('../../assets/Background.png');
  background-repeat: repeat-x, repeat-x;
  background-position: center, center;
  background-size: cover, cover;
  height: 100vh;
  left:0;
  animation: 1500s parallax infinite linear;
  animation-timing-function:ease-out;
}



@keyframes animateName {
  0% {
      filter: hue-rotate(45deg);
  }
  50% {
    filter: hue-rotate(-45deg);
}
  100% {
      filter: hue-rotate(45deg);
  }
}
.name {
  position: relative;
  width: 100vw;
  height: 80vh;
  -webkit-animation: animateName 40s linear infinite;
	-moz-animation: animateName 40s linear infinite;
	animation: animateName 40s linear infinite;
}

.pressEnter {
  height: 100%;
  /* max-height: 600px; */
  width: 18vw;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  left:0;
  -webkit-animation: animateName 40s linear infinite;
	-moz-animation: animateName 40s linear infinite;
	animation: animateName 40s linear infinite;
}
